:root {
    --serif: iowan old style, georgia, verdana, system-ui;
    --sans: system-ui, "Segoe UI", Roboto, verdana, sans-serif;
    --mono: menlo, monospace;
    --bck-colour: #FFF;
    --font-colour: #444;
    --toc-bck-colour: rgba( 255, 255, 255, 0.8 );
    --link-colour: #4E279A;
    --absent: #DC322F;
    --mark: #CB4B16;
    --blockquote-colour: hsl( 0, 0, 30% );
    --blockquote-border-colour: #CF019A;
    --code-bck-colour: rgba( 207, 1, 154, 0.07);
    --pre-highlight: rgba( 249, 79, 146, 0.5 );
    --table-bck-alt: rgba( 88, 110, 117, 0.1);
    --table-bck: rgba( 78, 40, 154, 0.1);
    --table-border-colour: #586E75;
    --h1: hsl( 0, 0%, 15% );
    --h2: hsl( 0, 0%, 25% );
    --h3: hsl( 0, 0%, 30% );
    --h4: var( --h3 );
    --h5: var( --h3 );
    --h6: var( --h3 );
    --hr: #93A1A1;
    --frame-border-colour: #DDD;
    --frame-colour: #333;
    --toc-border-colour-1: #FF6699;
    --toc-border-colour-2: #AA9933;
    --toc-border-colour-3: #33AA66;
    --toc-border-colour-4: #5533BB;
    --toc-border-colour-5: #BB5533;
    --tag-colour-1: #BB5533;
    --tag-colour-2: #AA9933;
    --tag-colour-3: #33AA66;
    --tag-colour-4: #5533BB;
    --searchbar-colour: var(--bck-colour);
    --searchbar-border-colour: #999;
    --light-box-shadow: #BBB;
    --transparent-rose: rgba( 249, 79, 146, 0.5 );
    --transparent-black: rgba( 0, 0, 0, 0.5 );
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-colour: #CCC;
        --bck-colour: #222;
        --toc-bck-colour: rgba( 34, 34, 34, 0.8 );
        --link-colour: #6C71C4;
        --blockquote-colour: hsl( 0, 0, 60% );
        --blockquote-border-colour: #CF019A;
        --code-bck-colour: rgba( 207, 1, 154, 0.3);
        --h1: hsl( 0, 0%, 85% );
        --h2: hsl( 0, 0%, 75% );
        --h3: hsl( 0, 0%, 70% );
        --h4: hsl( 0, 0%, 70% );
        --h5: hsl( 0, 0%, 70% );
        --h6: hsl( 0, 0%, 70% );
        --tag-colour-4: #8866DD;
        --searchbar-colour: var(--frame-colour);
        --searchbar-border-colour: #666;
    }

    .sourceLine span { filter : invert( 100% ); }
    .sourceCode { 
        background-color: var(--bck-colour);
        color: var(--font-colour);
    }
    #toggle_toc { filter: invert(); }
}

/* Manual Dark Mode Toggle */
[data-theme="dark"] {
    --font-colour: #CCC;
    --bck-colour: #222;
    --toc-bck-colour: rgba( 34, 34, 34, 0.8 );
    --link-colour: #6C71C4;
    --blockquote-colour: hsl( 0, 0, 60% );
    --blockquote-border-colour: #CF019A;
    --code-bck-colour: rgba( 207, 1, 154, 0.3);
    --h1: hsl( 0, 0%, 85% );
    --h2: hsl( 0, 0%, 75% );
    --h3: hsl( 0, 0%, 70% );
    --h4: hsl( 0, 0%, 70% );
    --h5: hsl( 0, 0%, 70% );
    --h6: hsl( 0, 0%, 70% );
    --tag-colour-4: #8866DD;
}

[data-theme="dark"] .sourceLine span { filter : invert( 100% ); }
[data-theme="dark"] .sourceCode { 
    background-color: var(--bck-colour);
    color: var(--font-colour);
}
[data-theme="dark"] #toggle_toc { filter: invert(); }

html, body {
    padding : 0;
    margin : 0;
}

html {
    background-color: var(--bck-colour);
    color: var(--font-colour);
}

body {
    font-family: var(--serif);
    font-size: 1.2em;
    line-height: 1.6;
    padding: 1.875em 0 1.875em 1.875em; 
    position: relative;
    max-width: 35em;
    margin: 0 auto;
}

canvas { border-radius: 5px; }

.no_scroll { overflow: hidden; }
.body_overlay {
    position: fixed;
    z-index: 9;
    background-color: var( --bck-colour );
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body > *:first-child {
    margin-top: 0 !important; }
body > *:last-child {
    margin-bottom: 0 !important; }

a { 
    color: var(--link-colour);
    text-decoration: none;
    border-bottom: 1px solid var(--link-colour);
}
a > strong, a > em { color : var(--link-colour); }
a.absent { 
    color: var(--absent);
    border-color: var(--absent);
}
a.anchor {
  display: block;
  padding-left: 1.875em;
  margin-left: -1.875em;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; 
}

h1, h2, h3, h4, h5, h6 {
    font-weight : 400;
    margin: 1.25em 0 0.625em;
    padding: 0;
    cursor: text;
    position: relative; 
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color : inherit;
    border : none;
}

h1 > a > strong, h1 > a > em,
h2 > a > strong, h2 > a > em,
h3 > a > strong, h3 > a > em,
h4 > a > strong, h4 > a > em,
h5 > a > strong, h5 > a > em,
h6 > a > strong, h6 > a > em {
    color : inherit;
}

h1 > a:before,
h2 > a:before, 
h3 > a:before,
h4 > a:before,
h5 > a:before,
h6 > a:before {
    content : "🔗";
    display : inline-block;
    margin-right: 0.5em;
    border-bottom: 1px solid var(--link-colour);
    font-size: 0.6em;
    vertical-align: middle;
}

h1 tt, h1 code {
  font-size: inherit; }

h2 tt, h2 code {
  font-size: inherit; }

h3 tt, h3 code {
  font-size: inherit; }

h4 tt, h4 code {
  font-size: inherit; }

h5 tt, h5 code {
  font-size: inherit; }

h6 tt, h6 code {
  font-size: inherit; }

h1 { color: var(--h1); }
h2 { color: var(--h2); }
h3 { color: var(--h3); }
h4 { color: var(--h4); }
h5 { color: var(--h5); }
h6 { color: var(--h6); }

p, blockquote, ul, ol, dl, li, table, pre { margin: 0.9375em 0; }
ol li { list-style : decimal; }
hr {
  border: 0 none;
  height: 4px;
  border-bottom: 1px solid var(--hr);
}

body > h2:first-child {
  margin-top: 0;
  padding-top: 0; 
}
body > h1:first-child {
  margin-top: 0;
  padding-top: 0; 
}
body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; 
}
body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0; 
}

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; 
}

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p { margin-top: 0; }

li p.first { display: inline-block; }
li { margin: 0; }
ul, ol { padding-left: 1.875em; }
ul :first-child, ol :first-child { margin-top: 0; }

dl dt {
    font-weight: bold;
}
dl dt:first-child { padding: 0; }
dl dt > :first-child { margin-top: 0; }
dl dt > :last-child { margin-bottom: 0; }
dl dd {}
dl dd > :first-child { margin-top: 0; }
dl dd > :last-child { margin-bottom: 0; }

blockquote {
  padding: 0 1.5em;
  font-size: 0.9em;
  font-style: italic;
  color: var(--blockquote-colour);
}
blockquote > :first-child { margin-top: 0; }
blockquote > :last-child { margin-bottom: 0; }

table {
  padding: 0;
  border-collapse: collapse; 
}
table tr {
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) { background-color: var(--table-bck-alt); }
table tr th {
  font-weight: bold;
  border: 1px solid var(--link-colour);
  margin: 0;
  padding: 0.375em 0.8125em;
  background-color: var(--table-bck);
}
table tr td {
  border: 1px solid var(--table-border-colour);
  margin: 0;
  padding: 0.375em 0.8125em; 
}
table tr th :first-child, table tr td :first-child { margin-top: 0; }
table tr th :last-child, table tr td :last-child { margin-bottom: 0; }

img { max-width: 100%; transition: box-shadow 0.6s ease; border-radius: 5px; }
figure { position: relative; text-align: center; }
figcaption {
    border-radius: 0 0 5px 5px;
    position: absolute;
    bottom: 0.55em;
    width: 100%;
    background: var(--toc-bck-colour);
    padding: 0 0.2em 0.3em 0.2em;
    font-family: var(--sans);
    font-size: 0.8em;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(0.55em);
    transition: opacity 0.6s ease, transform 0.4s ease;
}

span.frame {
  display: block;
  overflow: hidden; 
}
span.frame > span {
    border: 1px solid var(--frame-border-colour);
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}
span.frame span img {
    display: block;
    float: left;
}
span.frame span span {
    clear: both;
    color: var(--frame-colour);
    display: block;
    padding: 5px 0 0;
}
span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}
span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}
span.align-center span img {
    margin: 0 auto;
    text-align: center;
}
span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}
span.align-right span img {
    margin: 0;
    text-align: right;
}
span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}
span.float-left span { margin: 13px 0 0; }
span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; 
}
span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  background-color: var(--code-bck-colour);
  border-radius : 0.25em;
}

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.highlight pre {
  background-color: var(--pre-highlight);
}

pre {
  overflow: auto;
}
pre code, pre tt {
    background-color: transparent;
    border: none;
}

/* Fixes collapsed code blocks in Marked 2 within a details block */
details pre { height: auto !important; }

sup {
    font-size: 0.8125em;
    vertical-align: super;
    line-height: 0;
}

kbd {
  display: inline-block;
  padding: 0.25em;
  font-size: 1em;
  color: #fff;
  vertical-align: middle;
  background-color: var(--frame-colour);
  border: solid 1px var(--hr);
  border-radius: 0.25em;
  box-shadow: inset 0 -1px 0 var(--light-box-shadow);
}

mark {
    background-color: var(--mark);
    padding: 0.25em;
    border-radius: 0.25em;
    color: #fff;
}

* {
	-webkit-print-color-adjust: exact;
}

/* TOC Styling for Pandoc/Web output */

#TOC {
    position : fixed;
    z-index: 10; 
    top : 0;
    bottom : 0;
    left : 0;
    min-width : 10em;
    max-width : 19em;
    background-color : var(--toc-bck-colour);
    -webkit-backdrop-filter : blur( 10px );
    backdrop-filter : blur( 10px );
    transform: translateX( -110% );
    transition : transform 0.6s ease-in-out;
    box-shadow: 5px 0px 30px var(--transparent-black);
    padding: 1em 0.5em 2em 1em;
    max-height : 100%;
    overflow-y : auto;
    -webkit-overflow-scrolling : touch;
}

#TOC ul { 
    margin : 0; 
    padding : 0; 
    list-style : none;
    height : 100%;
}

#TOC li { position: relative; }

#TOC ul li ul { 
    margin-left: 1em;
    font-size: 0.9em;
    border-left: 1px solid var(--toc-border-colour-1);
    padding-left: 1em;
}

/* H3 - H6 */
#TOC ul li ul li ul { border-color: var(--toc-border-colour-2); }
#TOC ul li ul li ul li ul { border-color: var(--toc-border-colour-3);  }
#TOC ul li ul li ul li ul li ul { border-color: var(--toc-border-colour-4); }
#TOC ul li ul li ul li ul li ul li ul { border-color: var(--toc-border-colour-5); }

#TOC ul li ul li:before {
    content: "—";
    color: var(--toc-border-colour-1);
    display: inline-block;
    margin-left: -1em;
    margin-right: 0.3em;
}

#TOC ul li ul li ul li:before { color: var(--toc-border-colour-2); }
#TOC ul li ul li ul li ul li:before { color: var(--toc-border-colour-3); }
#TOC ul li ul li ul li ul li ul li:before { color: var(--toc-border-colour-4); }
#TOC ul li ul li ul li ul li ul li ul li:before { color: var(--toc-border-colour-5); }

#TOC a {
    border-bottom : none;
    color : var(--font-colour);
}

#TOC.reveal { 
    transform: translateX( 0 );
}

#control_container { 
    position: fixed;
    width: 2.75em;
    box-sizing: border-box;
    transform: translateX( 35em );
    z-index: 5;
}

#dark_mode, #toggle_toc {
    outline: none;
    border: none;
    background-image: url(../@imgs/dark_toggle.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    width: 2.75em;
    height: 2.75em;
    position: relative;
    transition: transform 0.6s ease-in-out;
    color: transparent;
}

#toggle_toc { background-image: url(../@imgs/TOC_toggle.png); }

.button_description {
    display: inline-block;
    position: absolute;
    background-color: var(--toc-border-colour-3);
    color: white;
    opacity: 0;
    transition: opacity 0.6s ease-in-out, transform 0.4s ease-in-out;
    width: 8em;
    padding: 0.2em;
    left: -9em;
    border-radius: 0.3em;
    transform: translateY( 1.5em);
    font-family: var(--sans);
    font-size: 0.7em;
    text-align: center;
    line-height: 1.3em;
}

.button_description:nth-child( 2 ) {
    background-color: var(--toc-border-colour-4);
}

#dark_mode:disabled, #toggle_toc:disabled { opacity : 0.3; }

#dark_mode.active{ transform: rotate( 0.5turn ); }

a.sourceLine {
    border-bottom : none;
    color: var(--font-colour);
}

/* Index Styles */
#index { 
    display: grid;
    grid-template-columns: 50% 50%;
    line-height: 2em;
}
#index ul { padding-left: 0; list-style: none; margin-right: 0.5em; }
#index ul li { border-bottom: 1px dashed var(--toc-border-colour-2); }
#index ul li:nth-child( even ){ border-color: var(--toc-border-colour-1); } 
#index ul li { padding-left : 0.25em; }
#index #menu, #index .tagContainer { grid-column: 1 / -1; }
#index .tagContainer { line-height: 1.4em; }
#index .tagContainer a { display: inline-block; }
#index a { 
    color: var(--font-colour);
    border-bottom: none;
}
#index h1 > a:before,
#index h2 > a:before, 
#index h3 > a:before,
#index h4 > a:before,
#index h5 > a:before,
#index h6 > a:before {
    content : "";
}

#index h1:before {
    content : "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    background-color: var(--toc-border-colour-3);
    border-radius: 0.8em;
    margin-right: 0.2em;
}

#index .top { font-size: 0.8em; }

.hide_list { display : none; }

.searchbar { 
    grid-column : 1 / -1;
    font-family : var(--mono); 
    border : 1px solid var(--searchbar-border-colour);
    background-color: var(--searchbar-colour);
    color: var(--font-colour);
    font-size: 0.7em;
    padding : 0.3em;
    border-radius : 0.3em;
    line-height : 1.5em;
    height : 2em;
    margin-top: 1em;
    transition: box-shadow 0.6s ease;
}

.searchbar:focus { box-shadow: inset 0 1px 3px var( --transparent-black); }

#index .tag {
    font-size: 0.7em;
    border: 1px solid black;
    border-radius: 0.3em;
    padding: 0.1em 0.3em;
    margin: 0em 0.2em;
    vertical-align: middle;
    font-family: var(--sans);
}

#index .t_1 { border-color: var(--tag-colour-1); color: var(--tag-colour-1); }
#index .t_2 { border-color: var(--tag-colour-2); color: var(--tag-colour-2); }
#index .t_3 { border-color: var(--tag-colour-3); color: var(--tag-colour-3); }
#index .t_4 { border-color: var(--tag-colour-4); color: var(--tag-colour-4); }

#index .selectedTag.t_1 { background-color: var(--tag-colour-1); color: white; }
#index .selectedTag.t_2 { background-color: var(--tag-colour-2); color: white; }
#index .selectedTag.t_3 { background-color: var(--tag-colour-3); color: white; }
#index .selectedTag.t_4 { background-color: var(--tag-colour-4); color: white; }

#index .clearTagSelection {
    border-color: red !important;
    color: red !important;
    border-radius: 1em;
    padding: 0.1em 0.4em;
    display: inline !important;
}

/* Linky styles */
#main, #right {
    display : inline-block;
    width : 15em;
    vertical-align : top;
    margin-bottom : 2em;
}

#linky-links { margin : 0; }

#main {
    border-right : 1px solid var(--hr);
}

#bck_img{
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.3;
    background-size : contain;
    background-position : bottom;
    background-repeat: no-repeat;
}

@media (hover: hover) {
    img:hover { box-shadow: 0px 10px 14px var(--transparent-black); }
    img:hover + figcaption { opacity: 1; transform: translateY( 0 ); }
    #dark_mode:hover + .button_description, #toggle_toc:hover + .button_description {
        opacity: 1;
        transform: translateY( 0.5em );
    }
}

@media only screen and (min-width: 60em) {
    /* Sidebar blockquotes */
    blockquote {
      padding: 0;
      padding-right: 0.5em;
      position: absolute;
      font-size: 0.7em;
      width: 10em;
      left: -9em;
      margin: 0.3em 0;
      font-style: normal;
      color: var(--blockquote-colour);
    }
}

@media only screen and (max-width: 43.75em) {
    #main, #right {
        width : 100%;
    }

    #main {
        border-right : none;
    }

    #index { grid-template-columns: 100%; }

    body {
      font-size: 1em;
      line-height: 1.6;
      padding: 0.3125em;
    }

    #control_container { 
        width: 2em;
        transform: translateX( 21em );
    }
    #dark_mode, #toggle_toc {
        width: 2em;
        height: 2em;
    }
}

@media only screen and (max-width: 20em) {
    #control_container { 
        width: 2em;
        transform: translateX( 18em );
    }
    #dark_mode, #toggle_toc {
        width: 2em;
        height: 2em;
    }
}


@media print {
	table, pre {
		page-break-inside: avoid;
	}
	pre {
		word-wrap: break-word;
	}
}
