body {
  font-family: iowan old style, itc cushing std, palatino, system-ui, serif;
  font-size: 1.2em;
  line-height: 1.6;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  background-color: white;
  color: #444;
  padding: 1.875em; 
}

body > *:first-child {
  margin-top: 0 !important; }
body > *:last-child {
  margin-bottom: 0 !important; }

a { 
    color: #4E279A;
    text-decoration: none;
    border-bottom: 1px solid #4E279A;
}
a > strong, a > em { color : #4E279A; }
a.absent { 
    color: #DC322F;
    border-color: #DC322F;
}
a.anchor {
  display: block;
  padding-left: 1.875em;
  margin-left: -1.875em;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; 
}

h1, h2, h3, h4, h5, h6 {
    font-weight : 400;
    margin: 1.25em 0 0.625em;
    padding: 0;
    cursor: text;
    position: relative; 
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color : inherit;
    border : none;
}

h1 > a > strong, h1 > a > em,
h2 > a > strong, h2 > a > em,
h3 > a > strong, h3 > a > em,
h4 > a > strong, h4 > a > em,
h5 > a > strong, h5 > a > em,
h6 > a > strong, h6 > a > em {
    color : inherit;
}

h1 > a:before,
h2 > a:before, 
h3 > a:before,
h4 > a:before,
h5 > a:before,
h6 > a:before {
    content : "🔗";
    display : inline-block;
    margin-right: 0.5em;
    border-bottom: 1px solid #4E279A;
    font-size: 0.6em;
    vertical-align: middle;
}

h1 tt, h1 code {
  font-size: inherit; }

h2 tt, h2 code {
  font-size: inherit; }

h3 tt, h3 code {
  font-size: inherit; }

h4 tt, h4 code {
  font-size: inherit; }

h5 tt, h5 code {
  font-size: inherit; }

h6 tt, h6 code {
  font-size: inherit; }

h1 { color: hsl( 0, 0%, 20% ); }
h2 { color: hsl( 0, 0%, 30% ); }
h3 { color: hsl( 0, 0%, 40% ); }
h4 { color: hsl( 0, 0%, 40% ); }
h5 { color: hsl( 0, 0%, 40% ); }
h6 { color: hsl( 0, 0%, 40% ); }

p, blockquote, ul, ol, dl, li, table, pre { margin: 0.9375em 0; }
ol li { list-style : decimal; }
hr {
  border: 0 none;
  height: 4px;
  border-bottom: 1px solid #93A1A1;
}

body > h2:first-child {
  margin-top: 0;
  padding-top: 0; 
}
body > h1:first-child {
  margin-top: 0;
  padding-top: 0; 
}
body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; 
}
body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0; 
}

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; 
}

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p { margin-top: 0; }

li p.first { display: inline-block; }
li { margin: 0; }
ul, ol { padding-left: 1.875em; }
ul :first-child, ol :first-child { margin-top: 0; }

dl dt {
    font-weight: bold;
}
dl dt:first-child { padding: 0; }
dl dt > :first-child { margin-top: 0; }
dl dt > :last-child { margin-bottom: 0; }
dl dd {}
dl dd > :first-child { margin-top: 0; }
dl dd > :last-child { margin-bottom: 0; }

blockquote {
  border-left: medium double #CF019A;
  padding: 0 0.9375em;
  color: hsl( 0, 0%, 30% );
}
blockquote > :first-child { margin-top: 0; }
blockquote > :last-child { margin-bottom: 0; }

table {
  padding: 0;
  border-collapse: collapse; 
}
table tr {
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) { background-color: rgba( 88, 110, 117, 0.1); }
table tr th {
  font-weight: bold;
  border: 1px solid #4E279A;
  margin: 0;
  padding: 0.375em 0.8125em;
  background-color: rgba( 78, 40, 154, 0.1 );
}
table tr td {
  border: 1px solid #586E75;
  margin: 0;
  padding: 0.375em 0.8125em; 
}
table tr th :first-child, table tr td :first-child { margin-top: 0; }
table tr th :last-child, table tr td :last-child { margin-bottom: 0; }

img { max-width: 100%; }

span.frame {
  display: block;
  overflow: hidden; 
}
span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}
span.frame span img {
    display: block;
    float: left;
}
span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
}
span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}
span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}
span.align-center span img {
    margin: 0 auto;
    text-align: center;
}
span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}
span.align-right span img {
    margin: 0;
    text-align: right;
}
span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}
span.float-left span { margin: 13px 0 0; }
span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; 
}
span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  background-color: rgba( 207, 1, 154, 0.07 );
  border-radius : 0.25em;
}

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.highlight pre {
  background-color: rgba( 249, 79, 146, 0.5 );
}

pre {
  overflow: auto;
}
pre code, pre tt {
    background-color: transparent;
    border: none;
}

/* Fixes collapsed code blocks in Marked 2 within a details block */
details pre { height: auto !important; }

sup {
    font-size: 0.8125em;
    vertical-align: super;
    line-height: 0;
}

kbd {
  display: inline-block;
  padding: 0.25em;
  font-size: 1em;
  color: #fff;
  vertical-align: middle;
  background-color: #333;
  border: solid 1px #93A1A1;
  border-radius: 0.25em;
  box-shadow: inset 0 -1px 0 #bbb;
}

mark {
    background-color: #CB4B16;
    padding: 0.25em;
    border-radius: 0.25em;
    color: #fff;
}
* {
	-webkit-print-color-adjust: exact;
}
@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:0 auto;
    }
}
@media print {
	table, pre {
		page-break-inside: avoid;
	}
	pre {
		word-wrap: break-word;
	}
}

.inverted {
    background-color: #222; 
    color: hsl( 0, 0%, 80% );
}
.inverted a { 
    color: #6C71C4;
    text-decoration: none;
    border-bottom: 1px solid #6C71C4;
}
.inverted h1 > a, .inverted h2 > a, .inverted h3 > a, .inverted h4 > a, .inverted h5 > a, .inverted h6 > a {
color : inherit;
    border : none;
}
.inverted a > strong, a > em { color : #6C71C4; }
.inverted h1 { color: hsl( 0, 0%, 80% ); }
.inverted h2 { color: hsl( 0, 0%, 70% ); }
.inverted h3 { color: hsl( 0, 0%, 60% ); }
.inverted h4 { color: hsl( 0, 0%, 60% ); }
.inverted h5 { color: hsl( 0, 0%, 60% ); }
.inverted h6 { color: hsl( 0, 0%, 60% ); }
.inverted blockquote { color : hsl( 0, 0%, 50% ); }
.inverted code .inverted tt { background-color : rgba( 207, 1, 154, 0.3 ); }
